/*.u-flash {
    animation: flash 3000ms infinite;
  }
  .loader {
    position: fixed;
    z-index: 1;
    background: rgba(6, 45, 32, 0.4);
    height: 100%;
    width: 100%;
  
    .pokeballLoader {
      top: calc(50% - 50px);
      left: calc(50% - 50px);
    }
  }*/
  